span.this_ua {
	background-color: #ccc!important;
	border-radius: 4px;
	padding: 0 5px!important;
	margin: 0 1px!important;
	border: 1px solid #BBB!important;
	color: #fff;

	/*text-transform: Capitalize!important;
	float: right!important;
	line-height: 18px!important;*/
}
.this_ua.platform.Windows{
	background-color: #39b3d7!important;
	border-color: #46b8da!important;
}
.this_ua.platform.Linux {
	background-color: #3A3A3A!important;
	border-color: #1F1F1F!important;
}
.this_ua.platform.Android {
	background-color: #00C47D!important;
	border-color: #01B171!important;
}
.this_ua.browser.Chrome{
	background-color: #5cb85c!important;
	border-color: #4cae4c!important;
}
.this_ua.browser.Firefox{
	background-color: #f0ad4e!important;
	border-color: #eea236!important;
}
.this_ua.browser.IE{
	background-color: #428bca!important;
	border-color: #357ebd!important;
}
.this_ua.browser.Opera{
	background-color: #d9534f!important;
	border-color: #d43f3a!important;
}